<%= simple_form_for(@form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
    </div>



    <h3> Questions </h3>
    <div id="questions">
      <%= f.simple_fields_for :questions do |question| %>
        <%#= raise question.object.inspect %>
        <%= render 'question_fields', :f => question %>
      <% end %>
      <%#= link_to_add_association 'add question', f, :questions %>
      <%#= render :partial => "monli", :locals => {:test => "ok"} %>
    </div>
    <div id="add_question">
      Ajouter une question
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
