<%= simple_form_for(@form) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :user_ids, as: :select, :collection => User.all.map{|u| [u.full_name, u.id]}, input_html: {class: 'chosen-select', multiple: true} %>
    </div>

    <h3 class="align-center"> Questions </h3>

    <div class="sub-form">
        <div id="questions">
          <%= f.simple_fields_for :questions do |question| %>
              <%= render 'question_fields', :f => question %>
          <% end %>
        </div>
        <div id="add_question" class="sub-form-add">
          Ajouter
        </div>

    </div>

    <div class="form-actions">
      <%= link_to 'Annuler', forms_path %>
      <div class="float-right"> <%= f.button :submit %> </div>
    </div>
<% end %>
