#encoding: utf-8
<div class="form_container"
<h1>Formulaires</h1>

<table>
  <tr>
    <th class="form_option">Name</th>
    <th class="form_option">Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.name %></td>
    <td><%= form.description %></td>
    <td class="form_option"><%= link_to 'Voir', form %></td>
    <td class="form_option"><%= link_to 'Editer', edit_form_path(form) %></td>
    <td class="form_option"><%= link_to 'Supprimer', form, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nouveau', new_form_path %>