<fieldset>

<h1 class="align-center"> <%= @form.name %> </h1>

<p class="align-center"> <%= @form.description %> </p>

<% @form.questions.each do |q| %>

<%= q.question %>

<div class="form-inputs">
<%#= q.input :answer %>
<%= text_field :answer, size: 150 %>
</div>

<% end %>

<div class="form-actions">
<%= link_to 'Annuler', forms_path %>
<div class="float-right"> <%= submit_tag "Valider_test" %> </div>
</div>					  <%#= q.button :submit %>

<%#= flash[:notice] = u %>

</fieldset>

<!-- <p>
  <b>Name:</b>
  <%= @form.name %>
</p>

<p>
  <b>Description:</b>
  <%= @form.description %>
</p> -->


<!-- <%= link_to 'Editer', edit_form_path(@form) %> |
<%= link_to 'Retour', forms_path %> -->
